.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2px 3px #cccccc;
  box-sizing: border-box;
  font-weight: bold;
}

.Button:not(:disabled):hover {
  background-color: #cccccc;
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.Success {
  color: #5c9210;
}

.Default {
  color: #343a40;
}

.Danger {
  color: #944317;
}
